.cardsList {

	/* height: 400px; */
	/* display: block;
	margin: 0 auto; */

}

.cardsUlWrapper {
	display: grid;
	grid-template-columns: 100%;
	list-style-type: none;
	height: 360px;
	border: 2px solid #bcf5bc;
	overflow:scroll;
	width: 300px;
	margin: 0 auto;
	border-radius: 4%;
	/* margin-left: -50px; */
	/* margin-left: 0; */
}

.cardsUlWrapper:hover {
	cursor: pointer;
}

.cardsUl {
	list-style-type: none;
	height: 360px;
	/* border: 2px solid #bcf5bc; */
	overflow:scroll;
	padding-left: 0;
}

.cardSelect {
	padding-left: 10px;
}

.cardWindow {

	width: 100%;
	height: 320px;
	margin-top: 20px;
	/* background-color: #808080; */
	/* border-radius: 1px; */
}

.cardSelect:hover {

	text-shadow: 3px 3px #808080;
}

.cardImage {
	margin: 0 auto;
}

.currentSelected {
	height: 110px;
	border: 2px solid #bcf5bc;
	width: 300px;
	margin: 0 auto;
	border-radius: 5px;
}

.titleSelected {
	margin-left: 35px;
	margin-top: 15px;
}

.addToDeck {
	margin-top: 20px;
	margin-left: 35px;
}

.currentCardInfo{
	padding-left: 10px;
	padding-right: 10px;
	overflow: scroll;
}

.button {
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}
