.controlBar {
	/* background-color: #808080; */
	display: flex;
	margin: 0 30px 0 30px;
	/* position:relative; */
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	/* width:100%; */
	border-radius: 5px 5px 0 0;
	border-top: 2px solid #bcf5bc;
	border-left: 2px solid #bcf5bc;
	border-right: 2px solid #bcf5bc;
	/* z-index: 7; */

	/* background: inherit; */

	/* font-weight: lighter; */
}

.deckWrapper {

	/* list-style-type: none; */
	height: 420px;
	border: 2px solid #bcf5bc;
	overflow:scroll;
	/* width: 100%; */
	margin: 0 30px 0 30px;
	border-radius: 0 0 5px 5px;
	padding-top: 10px;
	/* margin-left: -50px; */
	/* margin-left: 0; */
}

.title {
	/* margin-left: 220px; */
	padding-left: 12px;
	font-size: 16px;
	/* margin: 0 auto; */
	/* padding-top: 10px; */
}

.titleWrapper {
	width: 140px;
}



.deckGrid {
	display: grid;

	grid-template-columns: 20% 20% 20% 20% 20%;
	padding-left: 20px;
	/* margin-top:50px; */

}

.deckListedByLine {
	padding-left: 20px;
}

.cardLine {
	padding-bottom: 5px;
}

.cardLine:hover {
	cursor: pointer;
}

.cardDiv {
	display: inline-grid;
	/* border: 1px solid red; */
	height: 120px;
	/* padding-top: 20px; */
	/* position: relative; */
}
.relativeDiv {
	position: relative;
	/* border: 1px solid green; */
	height: 100%;
	/* margin-top: 20px; */
}
.cardImage {
	border-radius: 4%;
	padding-top: 20px;
	cursor: pointer;
}



.filters {
	display: inline;
	margin-left: 15px;
}


.input {

	border-radius: 5px;
	border-color: #bcf5bc;
	/* margin-left: 10px; */
	height: 25px;
	margin-bottom: 10px;
	width: 100px;
	/* margin-left: 100px; */
}

.button {
	width: 60px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}

.buttonSmall {
	width: 20px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
}

.select {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 28px;
	width: 60px;
	margin-bottom: 10px;
}
