.magicPageContainer {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
}

.control_bar {
	/* background-color: #808080; */
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	width:100%;
}

.filters {
	display: inline;
	width: inherit;
	margin-left: 20px;
}

.title {
	margin-left: 20px;
	display: inline;
}

.magicOuterContainer {
	display: grid;
	grid-template-columns: 30% 25% 65%;
}

.col {
	padding-top: 10px;
	/* border: 1px solid grey; */
	width: inherit;
}

/* .goUp {
	margin-top: -15px;
} */
/* .cardsList {
	margin: 0 auto 100px auto;
} */

.deckBuilding {
	margin-left: 150px;
	/* width: 100px; */
}


.input {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	margin-bottom: 10px;
	width: 120px;
}

.input:hover {
	border-color: #808080;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-bottom: 20px;
	cursor: pointer;
}

.select {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	width: 120px;
	margin-bottom: 10px;
}
