.magicPageContainer {
	/* margin-left: 10px;
	margin-right: 10px; */
	border: 1px solid #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	width: 100%;
}

.bottomHeaderContainer {
	display: grid;
	grid-template-columns: 15% 15% 60%;
	width: 100%;
	border-bottom: 1px solid grey;
}

.topHeaderContainer {
	display: grid;
	grid-template-columns: 30% 70%;
	border-bottom: 1px solid grey;
}

.bottomHeaderColumns {
	/* width: inherit; */
	border-right: 1px solid grey;
}

.topHeaderColumns {
	border-right: 1px solid grey;
}

.control_bar {
	/* background-color: #808080; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 30px;
	/* height: 100%; */
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	width:100%;
	/* border-bottom: 1px solid grey; */

	/* font-weight: lighter; */
}

.topFilters {
	/* border-left: 1px solid grey; */
	/* height: 100%; */
}
/* .bottomFilters {
	border-left: 1px solid grey;
} */

.filters {
	/* height: 100%; */
	/* padding-top: 15px; */
	display: inline;

	/* width: inherit; */
	margin-left: 30px;
}

/* .specialFilter {
	margin-right: 10px;
	border-right: 1px solid grey;
} */

.title {
	margin-left: 35px;
	display: inline;
	padding: 10px 0;
	margin-bottom: 10px;
}

.magicOuterContainer {
	display: grid;
	grid-template-columns: 30% 25% 45%;
}



.col2, .col3 {
	border-left: 1px solid grey;
}

.col {
	padding-top: 10px;
	width: inherit;
}


/* .cardsList {
	margin: 0 auto 100px auto;
} */


.break {
	height: 5px;
}

.input {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	margin-bottom: 10px;
	width: 120px;
}

.inputFilter {
	margin-right: 10px;
}

.inputSearch {
	margin-right: -10px;
}

.input:hover {
	border-color: #808080;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}

.select {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 28px;
	width: 120px;
	margin-bottom: 10px;
}
