.magicPageContainer {
	/* margin-left: 10px;
	margin-right: 10px; */
	border: 1px solid #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	width: 100%;
}

.control_bar {
	/* background-color: #808080; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	width:100%;
	border-bottom: 1px solid grey;
	/* font-weight: lighter; */
}

.filters {
	display: inline;
	/* width: inherit; */
	margin-left: 20px;
}

.title {
	margin-left: 35px;
	display: inline;
	padding: 10px 0;
	margin-bottom: 10px;
}

.magicOuterContainer {
	display: grid;
	grid-template-columns: 30% 25% 45%;
}



.col2, .col3 {
	border-left: 1px solid grey;
}

.col {
	padding-top: 10px;

	width: inherit;
}


/* .cardsList {
	margin: 0 auto 100px auto;
} */


.break {
	height: 5px;
}

.input {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	margin-bottom: 10px;
	width: 120px;
}

.input:hover {
	border-color: #808080;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}

.select {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 28px;
	width: 120px;
	margin-bottom: 10px;
}
