.filters {

}


.input {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	margin-bottom: 10px;
	width: 120px;
}

.input:hover {
	border-color: #808080;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border-color: #bcf5bc;
	background-color: #5f9ea0;
	color: #fff3f0;
	margin-bottom: 20px;
	cursor: pointer;
}

.select {
	border-radius: 5px;
	border-color: #bcf5bc;
	height: 25px;
	width: 120px;
	margin-bottom: 10px;
}
