.main {
	font-size: 24px;
	margin: 0;
	width: 500px;
	height: 250px;
	text-align: center;
	margin-top: 100px;
	padding-top: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
	background-color: #5f9ea0;
	border: 2px solid  #bcf5bc;
	color: #fffaf0;
	border-radius: 15px;
	text-shadow: 2px 2px #808080;
}

.divs {
	margin-top: 10px;
}
