.header {
  display: flex;
  justify-content: space-between;
  background-color: #5f9ea0;
  border: 1px solid #bcf5bc;
  padding-top: 30px;
  height: 60px;
}

.header a {
  margin: 0 10px;
  color: #fffaf0;
  text-decoration: none;
}

.header .right {
  padding-right: 100px;
}

.header .left {
  padding-left: 60px;
}

.header .firstname {
  color: #fff3f0;
  text-shadow: 2px 2px #808080;
}
