.cardImage {
	border-radius: 4%;
	/* margin-top: -75px; */
	/* margin: 0 auto 100px auto; */
	display: block;
	margin: 0 auto 100px auto;
	height: 500px;
}

.cardImageDouble {
	border-radius: 4%;
	display: block;
	margin: 0 auto 100px auto;
	height: 500px;
}

/* .cardImageDouble:hover {
	cursor: pointer;
} */

.rotateImage:hover {
	cursor: pointer;
}

.rotateImage {
	position: relative;
	left: 300px;
	top: -190px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	opacity: .3;
	z-index: 4;
}
